/Calculator.class
/FirstDialog.class
/HelloNameDialog.class
/HelloWorld.class
/LinearEquationWithOneVariable.class
/LinearSystemWithTwoVariables.class
/SecondDegreeEquationWithOneVariable.class
/ShowTwoNumbers.class
/ChoosingOption.class
/InputFromKeyboard.class
/StarsTriangle.class
